[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
uwsgi = "*"
colorlog = "*"
django-ckeditor = "*"
django-treebeard = "*"
django-taggit-autosuggest = "*"
pillow = "*"
django-select2 = "*"
django-imagekit = "*"
pygments = "*"
markdown = "*"
django-sitetree = "*"
hashids = "*"
iptools = "*"
django-embed-video = "*"
lxml = "*"
django-sekizai = "*"
django-crispy-forms = "*"
django-compressor = "*"
django-dbbackup = "*"
pycryptodome = "*"
django-widget-tweaks = "*"
django-admin-sortable2 = "*"
django-constance = {extras = ["database"],version = "*"}
django-developer-panel = "*"
mysqlclient = "*"

[requires]
python_version = "3.8"
