[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-admin-sortable2 = "*"
django-appconf = "*"
django-ckeditor = "*"
django-classy-tags = "*"
django-compressor = "*"
django-constance = "*"
django-crispy-forms = "*"
django-dbbackup = "*"
django-embed-video = "*"
django-imagekit = "*"
django-js-asset = "*"
django-picklefield = "*"
django-sekizai = "*"
django-select2 = "*"
django-sitetree = "*"
django-taggit = "*"
django-treebeard = "*"
django-widget-tweaks = "*"
hashids = "*"
iptools = "*"
lxml = "*"
markdown = "*"
pilkit = "*"
pillow = "*"
psycopg2 = "*"
pycryptodome = "*"
pygments = "*"
pytz = "*"
rcssmin = "*"
requests = "*"
rjsmin = "*"
uwsgi = "*"
djangorestframework = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.10"
