autopep8==1.4.4
certifi==2019.9.11
chardet==3.0.4
colorlog==4.0.2
Django==2.2.6
django-admin-sortable2==0.7.3
django-appconf==1.0.3
django-ckeditor==5.7.1
django-classy-tags==0.9.0
django-compressor==2.3
django-constance==2.4.0
django-crispy-forms==1.7.2
django-dbbackup==3.2.0
django-embed-video==1.3
django-imagekit==4.0.2
django-js-asset==1.2.2
django-picklefield==2.0
django-sekizai==1.0.0
django-select2==7.1.1
django-silk==3.0.2
django-sitetree==1.13.0
django-taggit==1.1.0
django-taggit-autosuggest==0.3.8
django-treebeard==4.3
django-widget-tweaks==1.4.5
gprof2dot==2017.9.19
hashids==1.2.0
idna==2.8
iptools==0.7.0
Jinja2==2.10.1
lxml==4.4.1
Markdown==3.1.1
MarkupSafe==1.1.1
mysqlclient==1.4.4
pilkit==2.0
Pillow==6.2.0
psycopg2==2.8.3
pycodestyle==2.5.0
pycryptodome==3.9.0
Pygments==2.4.2
python-dateutil==2.8.0
pytz==2019.3
rcssmin==1.0.6
requests==2.22.0
rjsmin==1.1.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.6
uWSGI==2.0.18
uwsgi-tasks==0.7.3
