# -*- coding: utf-8 -*-
__author__ = 'Vadim Kravciuk'

import os

SECRET_KEY = 'bvhaviahivGbkjsf(jbkjggygsf0983535'

DEBUG = True
ALLOWED_HOSTS = ['*', 'dev.localhost']
ALLOWED_IPS = ['127.0.0.1', '192.168/16']

DEFAULT_FROM_EMAIL = 'noreply@domain.com'
DEFAULT_FROM_NAME = 'Site Owner'
DEFAULT_CONTACT_EMAIL = 'admin@domain.com'

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
    }
}

if DEBUG is True:
    LOCAL_MIDDLEWARE = [
        'project.middleware.IPCheck',
        'project.middleware.HostCheck',
    ]

