{% extends "base.html" %}
{% load sekizai_tags staticfiles vcms_tags sitetree i18n homepage_tags %}

{% block title %}Персональная стрнаица.{% endblock %}

{% block content %}

    {% addtoblock 'css' %}
        <link rel="stylesheet" href="{% static 'calendar/css/monthly.css' %}">
        <style>
        .list-group-item {
            position: relative;
            display: block;
            padding: .15rem .25rem;
            margin-bottom: -1px;
            background-color: #fff;
            border: 1px solid rgba(0,0,0,.125);
        }
        </style>
    {% endaddtoblock %}

    <div class="row">
        <div class="col-sm">
            <a href="http://ovh-atom.kravciuk.com/munin/localhost/localhost/index.html">Munin</a>
            | <a href="http://ovh-atom.kravciuk.com/aws/">awstat</a><br />
            <a href="http://ovh-atom.kravciuk.com/vn/"> <img src="/media/bn.png?{% now "u" %}" style="max-width: 570px;"></a>

            <br />
            <div class="monthly" id="mycalendar"></div>
        </div>
        <div class="col-sm">
            {% domain_list as domains %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="60%">{% trans "Домен" %}</th>
                        <th style="max-width: 120px;">{% trans "Окончание" %}</th>
                        <th style="max-width: 80px;">{% trans "Дней" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for domain in domains %}
                    <tr>
                        <td>{% if domain.url != '' %}<a href="{{ domain.url }}">{{ domain.name }}</a> {% else %}{{ domain.name }}{% endif %}</td>
                        <td><a href="{{ domain.registrar.url }}" target="_blank">{{ domain.expired }}</a></td>
                        <td{% if domain.diff < 40 %} style="background-color: #bc3315; !important;" {% endif %}>{{ domain.diff }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <br /><br />
            {% links_cloud as groups %}
            {% for group in groups %}
                {% for link in group.homepagelink_set.all %}<a href="{{ link.url }}" class="{{ link.group.css_class }}" style="padding: 8px; margin: 3px;" target="_blank">{{ link.name }}</a>{% endfor %}
            {% endfor %}

            <br /><br />
            {% redmine_month_stats %} <br />
            {% redmine_tasks as tasks %}
            <ul class="list-group">
            {% for name, records in tasks.items %}
                <li class="list-group-item active">{{ name }}</li>
                {% for task in records %}
                    <li class="list-group-item"><a href="http://redmine.acoobe.com/issues/{{ task.task_id }}" target="_blank">{{ task.task }}</a> ({{ task.date }})</li>
                {% endfor %}
            {% endfor %}
            </ul>

        </div>
    </div>

<script type="text/javascript" src="{% static 'calendar/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'calendar/js/monthly.js' %}"></script>
<script type="text/javascript">
jQuery(document).ready(function ($) {
    $(window).load( function() {
        $('#mycalendar').monthly({
            weekStart: 'Mon',
            stylePast: false,
            maxWidth: '600px',
            dataType: 'json',
            jsonUrl: '{% static 'calendar/events.json' %}'
        });
    });
});
</script>

{% endblock %}
